<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toDo-App</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1>TO DO APP</h1> 
    <% if (change) { %>
      <%- include('../partials/formUpDate.ejs'); %>
    <% }else{ %>   
      <%- include('../partials/form.ejs'); %>
    <% } %> 
    <%- include('../partials/table.ejs'); %>
</body>
</html>