<form action="/add/task" method="post" id="form">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" placeholder="title">
    <label for="description">Description:</label>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="description"></textarea>
    <button type="submit">Add</button>
</form>